body {
    background-color: #0A3D62; /* Cor de fundo */
    color: #F1F1F1; /* Cor do texto */
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    background-color: #60A3BC; /* Cor dos botões */
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}